@keyframes underline{
    from {
        width: 0%;
    }
    to {
        width: 100%;
    }
}

.contact-bar{
    font-size: 18px;
    position: relative;
    top: 0;
    left: 0;
    text-align: left;
}