.project-item{
    >.project-item-img{
        width: 300px;
        margin-right: 20px;
        display: inline-block;
    }
    >.project-item-text{
        display: inline-block;
        width: calc(100% - 326px);
        vertical-align: top;
    }
}