@keyframes underline{
    from {
        width: 0%;
    }
    to {
        width: 100%;
    }
}

.side-bar{
    display: inline-block;
    font-size: 18px;
    float: left;
    text-align: left;
    margin-right: 20px;
    position: absolute;
    left: 100px;
}