@import "../../../mixins"; 

.navigation-link{
    display: inline-block;
    margin: 0 20px;
    cursor: pointer;
    text-shadow: -1px -1px 0 #ffffff17, 
                  1px -1px 0 #ffffff17, 
                 -1px  1px 0 #ffffff17, 
                  1px  1px 0 #ffffff17;
    @include dark-on-hover;
    &.active{
        color: black;
    }
}